.ContactUs{
    display: flex;
    margin: auto;
    justify-content: Left;
}


.Contact-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 18px;
    margin: 30px ;
}
