.Interview{
    display: flex;
    margin: auto;
    justify-content: center;
    
}


.Interview-intro {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 18px;
    margin-top: 30px ;

}
