  .thermometers-wrapper {
    display: flex;
    justify-content: space-between; /* Or space-between, depending on how you want them spaced */
    padding: 20px;
    gap: 300px
  }
  
  .thermometer-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the thermometer and label */
  }
  
  .thermometer-label {
    margin-bottom: 10px; /* Space between label and thermometer */
  }

  .thermometer {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Align children horizontally in the center */
    font-family: Arial, sans-serif;
  }
  
  
  .thermometer__amount-container {
    position: relative;
    display: flex;
    flex-direction: row; /* Align children horizontally */
    align-items: flex-start; /* Center children vertically */
    gap: 10px; /* Adds space between the amount and the tube */
  }

  .thermometer__amount {
    position: absolute;
    right: 100%;
    margin-top: 10px;
    margin-right: 10px;
    white-space: nowrap;
  }
  
  
  .thermometer__goal {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .thermometer__tube {
    width: 47px; /* Increased width of the tube */
    height: 250px; /* Height of the thermometer */
    background-color: transparent;
    border-radius: 30px; /* Adjusted for aesthetic to match the wider tube */
    position: relative;
    margin-left: 0;
    margin-right: 0;
    border: 10px solid #ddd; /* Tube border */
  }
  
  .thermometer__tube::before {
    content: '';
    position: absolute;
    bottom: -40px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 110px; /* Increased width of the bulb */
    height: 110px; /* Increased height of the bulb to maintain the shape */
    background-color: #ddd;
    border-radius: 50%;
    z-index: -1;
  }
  
  .thermometer__mercury {
    background-color:rgba(49,118,84,1);
    width: calc(100%); /* Adjust width to account for the border */
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 30px; /* Rounded bottom to match the tube border-radius */
    border-bottom-right-radius: 30px;
  }
  
  .thermometer__mercury::after {
    content: '';
    position: absolute;
    bottom: -30px; /* Adjust to match the bulb position */
    left: 50%;
    transform: translateX(-50%);
    width: 90px; /* Should match the bulb width */
    height: 90px; /* Height to represent how much has been filled */
    background-color:  rgba(49,118,84,1);
    border-radius: 50%;
    z-index: 1;
  }
  

  
