body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}


.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 12px;
  background-color: rgba(49,118,84,1);
  color: white;
}

h1 {
  margin: 0;
}

.title {
  cursor: pointer;
  padding-right: 50px;
}

.title:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  gap: 20px;
  height: 15px;
  padding-right: 20px;
  position: relative;
  font-size: 15px;
  padding-left:50px;
  
}

@media (max-width: 1370px) {  /* adjust as needed */
  header nav {
    margin-top: -30px;
  }
}

@media (max-width: 600px) {  /* adjust as needed */
  header nav {
    margin-top: -100px;
  }
}
@media (max-width: 600px) {  /* adjust as needed */
  header nav {
    display: none;
  }
}

@media (min-width: 600px) {  /* adjust as needed */
  header nav {
    display: flex;
    flex-wrap: wrap;
  }
}



nav button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  
}

.nav-footer button {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  
}

.nav-footer button:hover {
  text-decoration: underline;
}


nav button:hover {
  text-decoration: underline;
}


.dropdown-about {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
}

.dropdown-about button {
  background-color: inherit;  
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
}


.dropdown-about button:hover {
  background-color: #f1f1f1;
}


.dropdown-interview {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown-interview button {
  background-color: inherit;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
}

.dropdown-interview button:hover {
  background-color: #f1f1f1;
}


header .about-button::after,
header .interview-button::after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  margin-left: 5px;
}




footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

@media (max-width: 1050px) {  
  footer nav {
    margin-bottom: 30px;
  }
}



.title-footer{
  cursor: pointer;
  font-size: 17px;
}

.title-footer:hover {
  text-decoration: underline;
}
