.Homepage1 {
    padding: 40px;
    margin: auto;
    width: 70%;
}
    

.Homepage1-heading {
    text-align: center;
}


.Homepage1-content{
    margin-top: 30px;
    font-size: 17px;
}


.Chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* new */
    height: 100%; /* new */
    margin-bottom: 50px;
    height: 380px;
    position: relative;
}



.Chart-titles {
    display: flex;
    justify-content: center;
    width: 70%; /* or adjust as necessary */
    gap: 350px;
}


.Charts-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70%; /* or adjust as necessary */
    gap: 80px;
}


.chart-legend {
    display: flex;
    justify-content: center; /* Center the legend items horizontally */
    padding: 1em; /* Add some padding around the legend */
    position: absolute;
    top: 0;
    left: 130px;
}

  
.legend-item {
    display: flex;
    align-items: center; /* Align the color box and the label vertically */
    margin: 0 0.5em; /* Add some margin to each side of the item for spacing */
    font-size: 12px;
}

.legend-color {
    width: 1em; /* Set a fixed width for the color box */
    height: 1em; /* Set a fixed height for the color box */
    margin-right: 0.5em; /* Add some margin to the right of the color box */
}



.Chart-container {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }


.chart-title {
    text-align: center;
    margin-top: 10px;
}




.Year{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.button-group{
    display: flex;
    margin-left: 200px;
    position: relative;

}

.button-group button {
    background-color: white;
    border: 1px solid black; 
    border-right: none; 
    width: 60px;
    height: 30px;
    cursor: pointer;    
}

.first-button {
    border-radius: 5px 0 0 5px;
}

.last-button {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid black !important;
}


.button-group button.selected {
    background-color:rgb(62, 182, 230); 
    color: white; 
}

.ChartSource{
 position: absolute;
 right: 20%;
 bottom: 0;
}


.Homepage2{
    margin-top: 40px;
    background-color: rgba(49,118,84,255);
    width: 100%;

}

.Homepage2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; 
    margin: auto; 
    padding: 40px;
    color:white;
    font-size: 23px;
}

.Homepage2-content p {
    margin-bottom: 40px;
 }


 .Homepage3{
    background-color: white;
    width: 100%;
 }


 .Homepage3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; 
    margin: auto; 
    font-size: 30px;
    padding: 40px;
 }


 .Homepage3-content-heading{
    font-size: 30px;
 }

 .Homepage3-content-p{
    font-size: 20px;
 }


  .Learn-more-button{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: green;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid green; 
    width: 130px;
  }

  .Homepage-conclusion{
    margin-top: 40px;
    background-color: rgb(40,36,36);
    width: 100%;
    
  }

  .conclusion-content {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    width: 70%; 
    margin: auto; 
    padding: 40px;
}

  .Homepage-heading4{
    width: 380px;
    color: white;
  }


  