
.Homepage1 {
    padding: 40px;
    margin: auto;
    width: 70%;
    
}

.Homepage1-1 {
    padding: 40px 0px;
    margin: auto;
    width: 100%;
    background-image: url('./images/hongkong immigration photos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    
.Homepage1-heading {
    text-align: center;
}


.Homepage1-content{
    width: 70%;
    font-size: 25px;
    text-align: center;
    margin: auto;
    color: white;
}

.Chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* new */

    margin-bottom: 50px;
    height: 650px; 
    position: relative;

}

@media (max-width: 1200px) {
    .Chart-section,
    .Charts-container {
      width: 100%;
    }
  
    .Chart-section {
      height: auto;
    }
  }

.Chart-titles {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 70%; /* or adjust as necessary */
    gap: 350px;
}

.Charts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 70%; /* or adjust as necessary */
    
}

.ChartNote{
    padding: 20px;
    order: 0;
}

.year-2019.Chart-section {
    height: 400px;
}

.chart-legend {
    display: flex;
    justify-content: center; /* Center the legend items horizontally */
    padding: 1em; /* Add some padding around the legend */
    position: absolute;
    top: 200px;
    left: 130px;
}

  
.legend-item {
    display: flex;
    align-items: center; /* Align the color box and the label vertically */
    margin: 0 0.5em; /* Add some margin to each side of the item for spacing */
    font-size: 12px;
}

.legend-color {
    width: 1em; /* Set a fixed width for the color box */
    height: 1em; /* Set a fixed height for the color box */
    margin-right: 0.5em; /* Add some margin to the right of the color box */
}



.First-Chart-container {
    order: 2;
    display: flex;
    align-items: flex-end;
    gap: 80px;

}


.chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }


.chart-title {
    text-align: center;
    margin-top: 10px;
}

.Chart-description {
    order: 1;
    text-align: center;
    font-size: 20px;
    margin: 30px 0px; /* adjust as necessary */
}



.Year{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.button-group{
    display: flex;
    margin-left: 200px;
    position: relative;

}

.button-group button {
    background-color: white;
    border: 1px solid black; 
    border-right: none; 
    width: 60px;
    height: 30px;
    cursor: pointer;    
}

.first-button {
    border-radius: 5px 0 0 5px;
}

.last-button {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid black !important;
}


.button-group button.selected {
    background-color:rgb(62, 182, 230); 
    color: white; 
}

.ChartSource1{
    order: 3;
    margin-top: 30px;
    font-size: 10px;
}


.TextAboveChart3{
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;

}


.Second-chart-container{
    order: 4;
    height: 150px;
    display: flex;
    justify-content: flex-end;
    width: 500px;
}

.Second-chart-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.number-container {
    display: flex; /* This will lay out its children inline with each other */
    align-items: center; 
    justify-content: center; 
  }
  
  .minus-sign {
    margin-top: -32px;
    margin-right: -140px;
    margin-left: 140px;
  }

.ChartSource2{
    order: 5;
    margin-top: 30px;
    font-size: 10px;
}

.Graph-Diagram-Container{
    background-color:  rgba(49,118,84,1);
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* add a shadow to the container */
}

.GraphContainer{
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.graph{
    width: 500px;
    border-radius: 10px; /* round the corners of the images */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* add a shadow to each image */
    transition: transform 0.2s; /* smooth out the hover effect */
}

.graph:hover {
    transform: scale(1.05); /* scale up the image on hover */
}


.Methodology{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}

.DiagramContainer{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}





.DiagramText{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 17px;
    width: 80%;
}


.diagram{
    width: 700px;
}


.GraphInfo{
    width: 70%;
    font-size: 20px;
    text-align: center;
    margin: auto;
    color: white;
}

.Homepage2{
    background-color: rgba(49,118,84,255);
    width: 100%;
}

.Homepage2-heading {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.Homepage2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; 
    margin: auto; 
    padding-bottom: 40px;
    color:white;
    font-size: 18px;
}

.Homepage2-content p {
    margin-bottom: 40px;
 }


 .Homepage2-note{

    font-size: 13px;
 }

 .Homepage3{
    background-color: white;
    width: 100%;
    height: 100%;
 }


 .Homepage3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%; 
    height: 100%;
    margin: auto; 
    padding: 10px;
 }

 .Homepage3-heading{
    display: flex;
    font-size: 18px;
    padding-bottom: 10px;
    margin-left: 70px;
 }


 .MapContainer {
    display: flex;
    width: 100%;
}

 .Map{
    height: auto;
    width: 100%;
    padding-bottom: 20px;
 }

 .MapSource{
    display: flex;
    justify-self: flex-end;
    margin-left: 70px;
    font-size: 10px;
 }

 .Methodology2{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(49,118,84,1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}

.Methodology2-container{
    width: 70%; 
    margin: auto; 
}


 .Homepage4{
    width: 100%;
    padding: 20px 0 40px 0;
 }


 .Homepage4-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; 
    margin: auto; 
 }


 .Homepage4-content-heading{
    font-size: 30px;
 }

 .Homepage4-content-p{
    font-size: 18px;
 }


 .image-gallery{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding: 20px;
    background: rgba(49,118,84,1);  /* add a light grey background */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* add a subtle shadow */
    margin: auto; 
 
}

.hkimmigration{
    width: 400px;
    border-radius: 10px; /* round the corners of the images */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* add a shadow to each image */
    transition: transform 0.2s; /* smooth out the hover effect */
}


@media (min-width:2000px){
    .image-gallery{
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        padding: 20px;
        background: rgba(49,118,84,1);  /* add a light grey background */
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* add a subtle shadow */
        padding-left: 100px;
        padding-right: 100px;
    
    }
    .hkimmigration{
        width: 500px;
        border-radius: 10px; /* round the corners of the images */
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* add a shadow to each image */
        transition: transform 0.2s; /* smooth out the hover effect */
        
    }
    
}


.hkimmigration:hover {
    transform: scale(1.05); /* scale up the image on hover */
}

.hkimmigration:last-child {
    margin-right: 0;
}



 .Homepage5{
    background-color: rgba(49,118,84,1);
    width: 100%;
    color:white;
    padding: 20px 0 40px 0;
 }


 .Homepage5-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; 
    margin: auto; 
    font-size: 30px;
 }


 .Homepage5-content-heading{
    font-size: 30px;
 }

 .Homepage5-content-p{
    font-size: 20px;
 }


  .Learn-more-button{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: green;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid green; 
    width: 130px;
    
  }

  .Story-button{
    padding: 10px 10px;
    width: 150px;
    color:  rgba(49,118,84,1);
    background-color: white;
    border: none; 
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;

  }

  .Thermometer {
    display: flex;
    justify-content: center;
    padding: 20px 0 40px 0;
    flex-direction: column;
    align-items: center;
}

.Thermometer-heading {
    font-weight: bold;
    font-size: 25px;
}


.Thermometer-content {
    display: flex;
    flex-direction: row;
    padding: 20px 0 40px 0;
    gap: 350px;
}



  .Homepage-conclusion{
    background-color: rgb(40,36,36);
    width: 100%;
    
  }

  .conclusion-content {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    width: 70%; 
    margin: auto; 
    padding: 40px;
}

  .Homepage-heading4{
    width: 380px;
    color: white;
  }


  